.registration-form {
	width: 100%;
	max-width: 320px;

	margin: 20px auto;

	&__submit {
		width: 100%;
		margin: 20px 0 0;

		padding: 12px;

		font-size: inherit;
	}

	&__error {
		color: red;
		height: 24px;
		text-align: start;
		display: flex;
		align-items:flex-end ;
	}
}
